@font-face {
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notoserifsc/v19/H4chBXePl9DZ0Xe7gG9cyOj7kqGWbQ.otf) format('opentype');
}
