<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns# fb: http://www.facebook.com/2008/fbml" ng-app="StoresJp" ng-strict-di>
  <head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M5XH35B');</script>
<!-- End Google Tag Manager -->

    <link rel="canonical" href="https://kurokawaonsen.stores.jp/items/61e8eaa181dbb51c4d4ad7b7" />
    <meta charset="utf-8">
    <title ng-non-bindable>きよらの郷でうまれたお米・玄米セット | kurokawaonsen</title>
    <link rel="icon" href="/images/icon/icon_store_favicon.ico">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta ng-non-bindable name="description" content="日頃より旅館にご宿泊いただいたお客様から旅館で食べるお米が美味しいというお声をいただいておりました。  ようやく今回、南小国町の物産館「きよらカァサ」にご協力いただき、南小国町産のお米と玄米のコンパクトなキューブ梱包ができました。  //////////...">
      <meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@stores_jp">
<meta ng-non-bindable name="twitter:title" content="きよらの郷でうまれたお米・玄米セット">
<meta ng-non-bindable name="twitter:description" content="日頃より旅館にご宿泊いただいたお客様から旅館で食べるお米が美味しいというお声をいただいておりました。

ようやく今回、南小国町の物産館「きよらカァサ」にご協力いただき、南小国町産のお米と玄米のコンパクトなキューブ梱包ができました。

//////////
南小国町は、阿蘇外輪山・くじゅう連山の山間に位置し、筑後川の源流として大小７つの川が流れる水と緑に恵まれた里山地域。それを総称して「きよらの郷」と呼ばれ親しまれています。

里山の高い標高が生む昼夜の寒暖差と清らかな水が、粘りのあるもちもちとした食感と食味豊かなお米を育てます。黒川温泉の多くの旅館では南小国町産のお米が使用されています。

《製品情報》
・南小国町産白米（300g／2合）単一原料米　令和3年産あきげしき
・南小国町産玄米（300g／2合）単一原料米　令和3年産あきげしき
＊2合はお茶碗で約5杯分となります

///イラスト///
松永健志
https://twitter.com/matsunaga85
■2018年熊日描く力コンテスト グランプリ受賞 
■熊本トヨタCM油絵 
■キリンビール/熊本応援缶・阿蘇復興応援デザイン缶イラスト
■熊本城ホールメインエントランス桜の油絵常設など 
■niko and ...コラボグッズ　他

《販売名》
・きよらの郷でうまれたお米
・きよらの郷でうまれた玄米

《販売価格について》
販売価格は、表示された金額（表示価格/消費税込）と致します。

《商品の引き渡し時期》
決算完了後　(振込・送金確認後) 、3〜5日以内に発送致します。

《配送方法について》
・レターパックプラス（日本郵便）

● 掲載している商品は、店頭で同時販売のため品切れの場合もありますこと、ご容赦ください。
●万一商品に汚損・破損がございましたら、ご購入より7日以内にご連絡をお願い致します。
●原則として商品に不良があった場合以外の理由での返金はいたしかねます。
●お客様の都合による返品、交換は対応いたしかねます。購入前にもう一度詳細を確認の上、お取引をお願いいたします。">
  <meta name="twitter:image:src" content="https://p1-e6eeae93.imageflux.jp/c!/f=jpg,w=1200,u=0/kurokawaonsen/6dff0852145984ec75db.jpg">

<meta property="og:url" content="https://kurokawaonsen.stores.jp/items/61e8eaa181dbb51c4d4ad7b7">
<meta ng-non-bindable property="og:title" content="きよらの郷でうまれたお米・玄米セット">
<meta ng-non-bindable property="og:description" content="日頃より旅館にご宿泊いただいたお客様から旅館で食べるお米が美味しいというお声をいただいておりました。

ようやく今回、南小国町の物産館「きよらカァサ」にご協力いただき、南小国町産のお米と玄米のコンパクトなキューブ梱包ができました。

//////////
南小国町は、阿蘇外輪山・くじゅう連山の山間に位置し、筑後川の源流として大小７つの川が流れる水と緑に恵まれた里山地域。それを総称して「きよらの郷」と呼ばれ親しまれています。

里山の高い標高が生む昼夜の寒暖差と清らかな水が、粘りのあるもちもちとした食感と食味豊かなお米を育てます。黒川温泉の多くの旅館では南小国町産のお米が使用されています。

《製品情報》
・南小国町産白米（300g／2合）単一原料米　令和3年産あきげしき
・南小国町産玄米（300g／2合）単一原料米　令和3年産あきげしき
＊2合はお茶碗で約5杯分となります

///イラスト///
松永健志
https://twitter.com/matsunaga85
■2018年熊日描く力コンテスト グランプリ受賞 
■熊本トヨタCM油絵 
■キリンビール/熊本応援缶・阿蘇復興応援デザイン缶イラスト
■熊本城ホールメインエントランス桜の油絵常設など 
■niko and ...コラボグッズ　他

《販売名》
・きよらの郷でうまれたお米
・きよらの郷でうまれた玄米

《販売価格について》
販売価格は、表示された金額（表示価格/消費税込）と致します。

《商品の引き渡し時期》
決算完了後　(振込・送金確認後) 、3〜5日以内に発送致します。

《配送方法について》
・レターパックプラス（日本郵便）

● 掲載している商品は、店頭で同時販売のため品切れの場合もありますこと、ご容赦ください。
●万一商品に汚損・破損がございましたら、ご購入より7日以内にご連絡をお願い致します。
●原則として商品に不良があった場合以外の理由での返金はいたしかねます。
●お客様の都合による返品、交換は対応いたしかねます。購入前にもう一度詳細を確認の上、お取引をお願いいたします。">
<meta property="og:type" content="website">
<meta ng-non-bindable property="og:site_name" content="きよらの郷でうまれたお米・玄米セット">
<meta property="og:locale" content="ja_JP">
    <meta property="og:image" content="https://p1-e6eeae93.imageflux.jp/c!/f=jpg,w=1200,u=0/kurokawaonsen/6dff0852145984ec75db.jpg">
      <meta property="og:image:secure_url" content="https://p1-e6eeae93.imageflux.jp/c!/f=jpg,w=1200,u=0/kurokawaonsen/6dff0852145984ec75db.jpg">
    <meta property="og:image" content="https://p1-e6eeae93.imageflux.jp/c!/f=jpg,w=1200,u=0/kurokawaonsen/ebca7361c3fad645749e.jpg">
      <meta property="og:image:secure_url" content="https://p1-e6eeae93.imageflux.jp/c!/f=jpg,w=1200,u=0/kurokawaonsen/ebca7361c3fad645749e.jpg">
    <meta property="og:image" content="https://p1-e6eeae93.imageflux.jp/c!/f=jpg,w=1200,u=0/kurokawaonsen/0354dcd72d0d95841106.jpg">
      <meta property="og:image:secure_url" content="https://p1-e6eeae93.imageflux.jp/c!/f=jpg,w=1200,u=0/kurokawaonsen/0354dcd72d0d95841106.jpg">
    <meta property="og:image" content="https://p1-e6eeae93.imageflux.jp/c!/f=jpg,w=1200,u=0/kurokawaonsen/0ecbfcd88afe9e561890.jpg">
      <meta property="og:image:secure_url" content="https://p1-e6eeae93.imageflux.jp/c!/f=jpg,w=1200,u=0/kurokawaonsen/0ecbfcd88afe9e561890.jpg">
    <meta property="og:image" content="https://p1-e6eeae93.imageflux.jp/c!/f=jpg,w=1200,u=0/kurokawaonsen/ec13ede8db2b18259168.jpg">
      <meta property="og:image:secure_url" content="https://p1-e6eeae93.imageflux.jp/c!/f=jpg,w=1200,u=0/kurokawaonsen/ec13ede8db2b18259168.jpg">
    <meta property="og:image" content="https://p1-e6eeae93.imageflux.jp/c!/f=jpg,w=1200,u=0/kurokawaonsen/4db0808cf857d89f1260.jpg">
      <meta property="og:image:secure_url" content="https://p1-e6eeae93.imageflux.jp/c!/f=jpg,w=1200,u=0/kurokawaonsen/4db0808cf857d89f1260.jpg">

<meta ng-non-bindable property="product:price:amount" content="1000">
<meta ng-non-bindable property="product:price:currency" content="JPY">
<meta ng-non-bindable property="product:product_link" content='https://kurokawaonsen.stores.jp/items/61e8eaa181dbb51c4d4ad7b7'>
<meta ng-non-bindable property="product:retailer_title" content='kurokawaonsen'>


    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
</script>

    <meta name="google-site-verification" content="xeKORRKFnmFYJhnXpCNeSHjGNkW802Qo9YBxhX0IN1I">

    
    <link rel="index" href="/" title="HOME">
<link rel="chapter" href="/news" title="NEWS">
    <link ng-non-bindable rel="chapter" href="/?category_id=5ea63794bd2178640106ca5d" title="お風呂で癒される | CATEGORY">
    <link ng-non-bindable rel="chapter" href="/?category_id=5ea637b834ef011aeddadd51" title="旅行に出掛ける | CATEGORY">
    <link ng-non-bindable rel="chapter" href="/?category_id=5ebe99d972b9115fc4f0b75a" title="黒川温泉オリジナル | CATEGORY">
    <link ng-non-bindable rel="chapter" href="/?category_id=5ef9921674b4e4242cccea7c" title="プレゼントに最適 | CATEGORY">
    <link ng-non-bindable rel="chapter" href="/?category_id=5f184f43d3f1671fe5bc6aad" title="お中元・残暑見舞い | CATEGORY">
    <link ng-non-bindable rel="chapter" href="/?category_id=60bc808fa8755322d05bdd39" title="父の日ギフト | CATEGORY">
    <link ng-non-bindable rel="chapter" href="/?category_id=61582067acbcb040b7f5d94a" title="キャンプやBBQに最適 | CATEGORY">
<link rel="help" href="/about" title="ABOUT">
<link rel="help" href="/terms" title="利用規約">
<link rel="help" href="/privacy_policy" title="プライバシーポリシー">
<link rel="help" href="/tokushoho" title="特定商取引法に関する表記">
<link rel="help" href="/inquiry" title="お問い合わせ">

    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="w5VvRe1eMMjQADlb16dbbaCRofsrf7Z8pnIIUb4kBAUODcR3ENcez+zdDmzb+o66JrXbD+2rbuJ0vP4CnEffKw==" />


    <!-- CSS/ -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">


    <link href="https://fonts.googleapis.com/css?family=Lato:700&display=block&amp;text=kurokawaonsen" rel="stylesheet" type="text/css">


    <link rel="stylesheet" media="all" href="/assets/stores/pc/item_detail_application-7375f1f783584ef8480f86389b471c761db286af024e9fdec1f6766361993e56.css" />
<link rel="stylesheet" media="screen" href="/packs/css/stores/items-8858aac8.css" />


<style type="text/css">
body {
  font-family: 'Lato', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}
.s-store_page_font_sans_serif {
  font-family: 'Lato', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}
</style>


    <style ng-non-bindable class="stores_styles">
        body {background-color:#ffffff; background-repeat:no-repeat;}
.main_title_text, .content_nav, .content_nav__item a, .content_nav.show_category, .content_nav__item > a, .category_name, .content_nav.show_category, .content_nav_categories__item, .content_nav.show_category, .content_nav_categories__item > a, .ranking_items__title, .ranking_items__item__name, .ranking_items__item__price, .top_page_news_title, .top_page_news_text, .top_page_category_title, .top_page_category_name, .top_page_category_count, .step > p, .top_page_freespace .top_page_text_title, .top_page_freespace .top_page_text_inner {color:#161616; text-decoration:none;}
#store_logo {font-family:Lato, Hiragino Kaku Gothic ProN, Meiryo, sans-serif; font-weight:700;}
.content_grid_separate, .item, .result_list, .item .result_list_inner {color:#161616;}
        #store_logo {font-size:30px;}
    </style>
    <!-- /CSS -->

    <!-- JS/ -->
    
    <script src="https://polyfill.io/v3/polyfill.min.js?features=IntersectionObserver%2CResizeObserver"></script>
    <style rel="stylesheet" id="font_css"></style>
<script src="//typesquare.com/accessor/apiscript/typesquare.js?JR8Di~WDf1g%3D" charset="utf-8"></script>

    <script src="/assets/stores/common/application_header-2e37d42fd0e99ee18c2a3b71bd48e1bb7e9781393291c0b0caa2cc242af215c4.js"></script>
    <script>
//<![CDATA[

        var I18n = I18n.translations.ja.js;
        I18n.locale = 'ja';
        I18n.fb_locale = 'ja_JP';

//]]>
</script>    <script class="json_object_from_server">
//<![CDATA[
        AUTH_TOKEN = 'wOjZGXF9JwMVAAB2MtykyAsQgvY5+jZmDqG6r7bDiI0NcHIrjPQJBCndN0E+gXEfjTT4Av8u7vjcb0z8lKBTow==';
        USER_NAME = 'kurokawaonsen';
        USER_ID = '5ea3b25c72b9113673a0c9ad';
        STORE_NAME = 'kurokawaonsen';
        STORE_ID = '5ea3b25c72b9113673a0c9b2';
        STORE_ABOUT = {"_id":"5ea3b34acee9ea7bd719acea","_type":"About","detail":"自然豊かな里山に30軒の旅館が寄り添う熊本・阿蘇の温泉地「黒川温泉」のオンラインストアです。\n\nご家庭のお風呂の時間がもっと豊かになるような黒川温泉のオリジナル商品のほか、旅に備えた商品や、地域の資源を活かした商品などを揃えています。\n\nぜひ一度この機会にご利用ください。","twitter":"dai2sonmin","facebook":"kurokawaonsen","instagram":"kurokawaonsen","website":"http://www.kurokawaonsen.or.jp","email":"press@kurokawaonsen.or.jp","updated_at":"2021-01-01T10:13:19.896+09:00","created_at":"2020-04-25T12:49:30.001+09:00"};
        STORE_CREATED_AT = '2020-04-25';
        STORES_JP = {"mall":null,"plan":"free","enable_addons":["follow","mail_magazine","shipped_mail","search","inquiries","coupon","detail_shipping_fee","shipped_info_bulk_importing","item_bulk_importing","sticker","announce","restock_notification","order_limit","order_csv","delivery_note","ad_tag","hashtag","news","instagram","shopnow","gift_form","google_analytics","preorder"],"stores_domain":"https://kurokawaonsen.stores.jp","custom_domain":"https://kurokawaonsen.stores.jp","FILE_SERVER_URL":"https://p1-e6eeae93.imageflux.jp","ship_setting":{"domestic":true,"overseas":false},"available_amazon_pay":false,"amazon_pay_setting":null,"acceptable_card_brand_names":["visa","master","jcb","amex","diners"],"is_secret":false,"instead_referer":"","ORIGIN":"https://kurokawaonsen.stores.jp"};
        CART_NAME = 'cart';
        ORDER_AMOUNT_LIMIT = {"credit":10000000,"bank_transfer":10000000,"cash_on_delivery":3000000,"convenience_store_payment":300000,"paidy":10000000,"paypal":1000000,"recieve_counter":10000000,"unnecessary":0,"carrier":100000,"amazon_pay":1000000,"rakuten_pay":500000,"paypay":10000000};
        ANNOUNCE_PANEL = {"title":"お風呂の時間をもっと豊かに","image_url":"7acf8dd28cc92960ac73.png","body":"自粛を余儀なくされる生活のなか、\nお風呂のひと時は、心をやわらげ体をほぐす\nとても大切な時間です。\n\n黒川温泉は、\nお風呂の時間がもっと豊かになるような\n商品をご提案いたします。"};
        USE_PAGER = false;
        IS_MOBILE = false;
        IS_PREVIEW =false;

//]]>
</script>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

      <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&appId=106518812838112&version=v9.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>


    <script>
  (function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-11009873-1', 'auto', 'owner');
</script>

    
    <script src="//platform.twitter.com/oct.js"></script>

    <!-- /JS -->
  </head>
    <body class="js-layout layout_a " >
      <div id="header-notify-wrapper" aria-live="polite"></div>
      <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M5XH35B"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

      <div class="wrap">
          <header class="header">
            <ul class="header_btn_list">
                <sj-template-data-binder customer-name="" ng-non-bindable></sj-template-data-binder>
                <sj-account-menu type="pc"></sj-account-menu>
              <li class="header_btn_list_cart_wrap">
                <sj-cart-button is-logged-in="false" has-follow-addon="true" ></sj-cart-button>
              </li>
            </ul>
          </header>
            <sj-search-button></sj-search-button>


        <div class="wrap_inner js-wrap_inner ">
          <div class="container ">
            <main class="main">
              <div class="nav_outer">
                <div sj-scroll-class scroll-class="fade" class="main_title js-main_title has_main_visual image ">
  <h1>
    <a href="/" class="main_title_link">
      <span ng-non-bindable id="store_logo" class="main_title_text js-main_title_text">kurokawaonsen</span>
      <img ng-non-bindable sj-store-logo-adapter class="js-main_title_img" src="https://p1-e6eeae93.imageflux.jp/c!/a=2,w=1880,u=0/kurokawaonsen/a00d1e4eb9080ce3d50f.png" alt="kurokawaonsen" >
    </a>
  </h1>
</div>

    <nav sj-scroll-class scroll-class="fixed" class="themes_grid_separate_nav content_nav  js-content_nav">
  <ul class="cf">
        <li class="content_nav__item js-content_nav__item" ng-non-bindable v-pre>
            <a href="/">HOME</a>
        </li>
        <li class="content_nav__item js-content_nav__item" ng-non-bindable v-pre>
            <a href="/about">ABOUT</a>
        </li>
        <li class="content_nav__item js-content_nav__item" ng-non-bindable v-pre>
            <a href="/?all_items=true">ITEM</a>
        </li>
        <li class="content_nav__item js-btn_popup js-content_nav__item" sj-popup>
          <a ng-non-bindable v-pre>CATEGORY</a>
          <div class="content_nav_categories js-btn_popup_inner">
            <ul class="content_nav_categories__inner">
              <li class="content_nav_categories__item">
                <a ng-non-bindable v-pre href="/?category_id=5ea63794bd2178640106ca5d">お風呂で癒される</a>
              </li>
              <li class="content_nav_categories__item">
                <a ng-non-bindable v-pre href="/?category_id=5ea637b834ef011aeddadd51">旅行に出掛ける</a>
              </li>
              <li class="content_nav_categories__item">
                <a ng-non-bindable v-pre href="/?category_id=5ebe99d972b9115fc4f0b75a">黒川温泉オリジナル</a>
              </li>
              <li class="content_nav_categories__item">
                <a ng-non-bindable v-pre href="/?category_id=5ef9921674b4e4242cccea7c">プレゼントに最適</a>
              </li>
              <li class="content_nav_categories__item">
                <a ng-non-bindable v-pre href="/?category_id=5f184f43d3f1671fe5bc6aad">お中元・残暑見舞い</a>
              </li>
              <li class="content_nav_categories__item">
                <a ng-non-bindable v-pre href="/?category_id=60bc808fa8755322d05bdd39">父の日ギフト</a>
              </li>
              <li class="content_nav_categories__item">
                <a ng-non-bindable v-pre href="/?category_id=61582067acbcb040b7f5d94a">キャンプやBBQに最適</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="content_nav__item js-content_nav__item" ng-non-bindable v-pre>
            <a href="/news">NEWS</a>
        </li>
  </ul>
</nav>


              </div>
              <div class="content cf">
                <section class="item_detail_content"  ng-controller="ItemDetailController as detailCtrl"
  ng-init="
          detailCtrl.itemId='61e8eaa181dbb51c4d4ad7b7';
          detailCtrl.itemName='きよらの郷でうまれたお米・玄米セット';
          detailCtrl.images=[&quot;https://p1-e6eeae93.imageflux.jp/kurokawaonsen/6dff0852145984ec75db.jpg&quot;, &quot;https://p1-e6eeae93.imageflux.jp/kurokawaonsen/ebca7361c3fad645749e.jpg&quot;, &quot;https://p1-e6eeae93.imageflux.jp/kurokawaonsen/0354dcd72d0d95841106.jpg&quot;, &quot;https://p1-e6eeae93.imageflux.jp/kurokawaonsen/0ecbfcd88afe9e561890.jpg&quot;, &quot;https://p1-e6eeae93.imageflux.jp/kurokawaonsen/ec13ede8db2b18259168.jpg&quot;, &quot;https://p1-e6eeae93.imageflux.jp/kurokawaonsen/4db0808cf857d89f1260.jpg&quot;];
          detailCtrl.itemThum='https://p1-e6eeae93.imageflux.jp/c!/a=2,w=60,h=60/kurokawaonsen/6dff0852145984ec75db.jpg';
          detailCtrl.isDigit=false;
          detailCtrl.isMybook=false;
          detailCtrl.purchaseLimitedQuantity=1;
          detailCtrl.isSubscription=false;
          detailCtrl.isTicket=false;
          detailCtrl.isLoggedIn=false;
          detailCtrl.hasFollowAddon=true;
          detailCtrl.aboutEmailDomain='@kurokawaonsen.or.jp';
">

  <div class="content_breadcrumb" ng-non-bindable>
    <div class="content_breadcrumb_home"><a href="/">HOME</a></div>
      <div ng-non-bindable class="content_breadcrumb_category">
        <a href="/?category_id=5ebe99d972b9115fc4f0b75a">黒川温泉オリジナル</a>
      </div>
    <div class="content_breadcrumb_item" ng-non-bindable>きよらの郷でうまれたお米・玄米セット</div>
  </div>
  <div class="main_content cf">

    <div class="main_content_gallery">
    <span ng-non-bindable class="main_content_gallery_sticker new_17" style="background-image: url(https://stores.jp/images/item_sticker/new_17.png)">new</span>

  <div class="main_content_gallery_image">
    <div class="gallery_image_carousel_wrapper">
      <div class="gallery_image_carousel">
            <img src="https://p1-e6eeae93.imageflux.jp/c!/f=webp:auto,a=2,w=920,h=920,b=ffffff00/kurokawaonsen/6dff0852145984ec75db.jpg" alt="61e8eaa181dbb51c4d4ad7b7" class="" ng-click="detailCtrl.openImageModal()" data-pin-description="きよらの郷でうまれたお米・玄米セット">
            <img src="https://p1-e6eeae93.imageflux.jp/c!/f=webp:auto,a=2,w=920,h=920,b=ffffff00/kurokawaonsen/ebca7361c3fad645749e.jpg" alt="61e8eaa181dbb51c4d4ad7b7" class="ng-cloak" ng-click="detailCtrl.openImageModal()" data-pin-description="きよらの郷でうまれたお米・玄米セット">
            <img src="https://p1-e6eeae93.imageflux.jp/c!/f=webp:auto,a=2,w=920,h=920,b=ffffff00/kurokawaonsen/0354dcd72d0d95841106.jpg" alt="61e8eaa181dbb51c4d4ad7b7" class="ng-cloak" ng-click="detailCtrl.openImageModal()" data-pin-description="きよらの郷でうまれたお米・玄米セット">
            <img src="https://p1-e6eeae93.imageflux.jp/c!/f=webp:auto,a=2,w=920,h=920,b=ffffff00/kurokawaonsen/0ecbfcd88afe9e561890.jpg" alt="61e8eaa181dbb51c4d4ad7b7" class="ng-cloak" ng-click="detailCtrl.openImageModal()" data-pin-description="きよらの郷でうまれたお米・玄米セット">
            <img src="https://p1-e6eeae93.imageflux.jp/c!/f=webp:auto,a=2,w=920,h=920,b=ffffff00/kurokawaonsen/ec13ede8db2b18259168.jpg" alt="61e8eaa181dbb51c4d4ad7b7" class="ng-cloak" ng-click="detailCtrl.openImageModal()" data-pin-description="きよらの郷でうまれたお米・玄米セット">
            <img src="https://p1-e6eeae93.imageflux.jp/c!/f=webp:auto,a=2,w=920,h=920,b=ffffff00/kurokawaonsen/4db0808cf857d89f1260.jpg" alt="61e8eaa181dbb51c4d4ad7b7" class="ng-cloak" ng-click="detailCtrl.openImageModal()" data-pin-description="きよらの郷でうまれたお米・玄米セット">
      </div>
    </div>
    <span class="icon_prev" ng-class="{ active: detailCtrl.images.length > 1 }" ng-click="detailCtrl.prevCarousel()"></span>
    <span class="icon_next" ng-class="{ active: detailCtrl.images.length > 1 }" ng-click="detailCtrl.nextCarousel()"></span>
    <span class="icon_zoom" ng-click="detailCtrl.openImageModal()"></span>
    <span class="slide_counter" ng-cloak>{{detailCtrl.mainImageIndex + 1}}/6</span>
  </div>

    <div class="main_content_gallery_lists">
      <div class="lists">
          <ul class="js-image_slider_group list_image_box">
            <li class="lists_image" ng-class="{ active: detailCtrl.mainImageIndex === 0 , 'seven-column': false}" ng-cloak>
              <a href="" ng-click="detailCtrl.changeMainImage(0)">
                <img class="item_thumb_image" src="https://p1-e6eeae93.imageflux.jp/c!/a=2,w=460,h=460/kurokawaonsen/6dff0852145984ec75db.jpg" alt="きよらの郷でうまれたお米・玄米セット" ng-non-bindable>
              </a>
            </li>
            <li class="lists_image" ng-class="{ active: detailCtrl.mainImageIndex === 1 , 'seven-column': false}" ng-cloak>
              <a href="" ng-click="detailCtrl.changeMainImage(1)">
                <img class="item_thumb_image" src="https://p1-e6eeae93.imageflux.jp/c!/a=2,w=460,h=460/kurokawaonsen/ebca7361c3fad645749e.jpg" alt="きよらの郷でうまれたお米・玄米セット" ng-non-bindable>
              </a>
            </li>
            <li class="lists_image" ng-class="{ active: detailCtrl.mainImageIndex === 2 , 'seven-column': false}" ng-cloak>
              <a href="" ng-click="detailCtrl.changeMainImage(2)">
                <img class="item_thumb_image" src="https://p1-e6eeae93.imageflux.jp/c!/a=2,w=460,h=460/kurokawaonsen/0354dcd72d0d95841106.jpg" alt="きよらの郷でうまれたお米・玄米セット" ng-non-bindable>
              </a>
            </li>
            <li class="lists_image" ng-class="{ active: detailCtrl.mainImageIndex === 3 , 'seven-column': false}" ng-cloak>
              <a href="" ng-click="detailCtrl.changeMainImage(3)">
                <img class="item_thumb_image" src="https://p1-e6eeae93.imageflux.jp/c!/a=2,w=460,h=460/kurokawaonsen/0ecbfcd88afe9e561890.jpg" alt="きよらの郷でうまれたお米・玄米セット" ng-non-bindable>
              </a>
            </li>
            <li class="lists_image" ng-class="{ active: detailCtrl.mainImageIndex === 4 , 'seven-column': false}" ng-cloak>
              <a href="" ng-click="detailCtrl.changeMainImage(4)">
                <img class="item_thumb_image" src="https://p1-e6eeae93.imageflux.jp/c!/a=2,w=460,h=460/kurokawaonsen/ec13ede8db2b18259168.jpg" alt="きよらの郷でうまれたお米・玄米セット" ng-non-bindable>
              </a>
            </li>
          </ul>
          <ul class="js-image_slider_group list_image_box">
            <li class="lists_image" ng-class="{ active: detailCtrl.mainImageIndex === 5 , 'seven-column': false}" ng-cloak>
              <a href="" ng-click="detailCtrl.changeMainImage(5)">
                <img class="item_thumb_image" src="https://p1-e6eeae93.imageflux.jp/c!/a=2,w=460,h=460/kurokawaonsen/4db0808cf857d89f1260.jpg" alt="きよらの郷でうまれたお米・玄米セット" ng-non-bindable>
              </a>
            </li>
          </ul>
      </div>
    </div>
</div>


    <div class="main_content_result">
      <div class="main_content_result_inner">


        <h1 class="item_name" ng-non-bindable>きよらの郷でうまれたお米・玄米セット</h1>

          <p class="stock_item s-store_page_font_sans_serif">残り3点</p>


            <p class="item_price">&yen;1,000
              <span>税込</span>
            </p>


        <!-- download/ -->
        <!-- /download -->



        <!-- review/ -->
        <!-- /review -->

        <!-- shipping_fee/ -->
          
<div class="item_post">
    <p><a href="" class="gtm-othershipping-btn" ng-click="detailCtrl.openDeliveryMethodsModal('{&quot;domestic&quot;:{&quot;fee&quot;:0,&quot;enabled&quot;:true,&quot;free&quot;:false,&quot;method_fee&quot;:520,&quot;areas&quot;:[],&quot;other&quot;:{&quot;name&quot;:&quot;even&quot;,&quot;fee&quot;:520}},&quot;overseas&quot;:{&quot;fee&quot;:0,&quot;enabled&quot;:false}}', true)">送料についてはこちら</a></p>
</div>

        <!-- /shipping_fee -->
      </div>

              <button class="btn btn_send btn_cart button--with-focus-visible-ring gtm-cartin-btn" ng-click="detailCtrl.addCart(null, 3)">カートに入れる</button>




        <div class="pc">
          <my-favorite-item-button item-id="61e8eaa181dbb51c4d4ad7b7" label="お気に入りに追加" />
        </div>


    <div class="item_detail_container">

      <div class="main_content_result_item_list_detail" ng-non-bindable>日頃より旅館にご宿泊いただいたお客様から旅館で食べるお米が美味しいというお声をいただいておりました。

ようやく今回、南小国町の物産館「きよらカァサ」にご協力いただき、南小国町産のお米と玄米のコンパクトなキューブ梱包ができました。

//////////
南小国町は、阿蘇外輪山・くじゅう連山の山間に位置し、筑後川の源流として大小７つの川が流れる水と緑に恵まれた里山地域。それを総称して「きよらの郷」と呼ばれ親しまれています。

里山の高い標高が生む昼夜の寒暖差と清らかな水が、粘りのあるもちもちとした食感と食味豊かなお米を育てます。黒川温泉の多くの旅館では南小国町産のお米が使用されています。

《製品情報》
・南小国町産白米（300g／2合）単一原料米　令和3年産あきげしき
・南小国町産玄米（300g／2合）単一原料米　令和3年産あきげしき
＊2合はお茶碗で約5杯分となります

///イラスト///
松永健志
<a target="_blank" rel="noopener" href="https://twitter.com/matsunaga85">https://twitter.com/matsunaga85</a>
■2018年熊日描く力コンテスト グランプリ受賞 
■熊本トヨタCM油絵 
■キリンビール/熊本応援缶・阿蘇復興応援デザイン缶イラスト
■熊本城ホールメインエントランス桜の油絵常設など 
■niko and ...コラボグッズ　他

《販売名》
・きよらの郷でうまれたお米
・きよらの郷でうまれた玄米

《販売価格について》
販売価格は、表示された金額（表示価格/消費税込）と致します。

《商品の引き渡し時期》
決算完了後　(振込・送金確認後) 、3〜5日以内に発送致します。

《配送方法について》
・レターパックプラス（日本郵便）

● 掲載している商品は、店頭で同時販売のため品切れの場合もありますこと、ご容赦ください。
●万一商品に汚損・破損がございましたら、ご購入より7日以内にご連絡をお願い致します。
●原則として商品に不良があった場合以外の理由での返金はいたしかねます。
●お客様の都合による返品、交換は対応いたしかねます。購入前にもう一度詳細を確認の上、お取引をお願いいたします。</div>

    </div>

          <ul class="hashtag_list_container" ng-non-bindable>
              <li class="hashtag_list"><a class="gtm-hashtag-btn" href=https://stores.jp/hashtag/お米 target="_blank" >#お米</a></li>
              <li class="hashtag_list"><a class="gtm-hashtag-btn" href=https://stores.jp/hashtag/白米 target="_blank" >#白米</a></li>
              <li class="hashtag_list"><a class="gtm-hashtag-btn" href=https://stores.jp/hashtag/玄米 target="_blank" >#玄米</a></li>
              <li class="hashtag_list"><a class="gtm-hashtag-btn" href=https://stores.jp/hashtag/食品 target="_blank" >#食品</a></li>
          </ul>

        <aside class="item_sns_list">
  <ul class="p-detail__sns">
    <li class="p-detail__sns-item">
      <a sj-share-sns ng-non-bindable type="tw" url="https://kurokawaonsen.stores.jp/items/61e8eaa181dbb51c4d4ad7b7" tweet-text="きよらの郷でうまれたお米・玄米セット" rel="nofollow" class="p-detail__sns-item-button p-detail__sns-item-button-tweet">ツイートする</a>
    </li>
    <li class="p-detail__sns-item">
      <a sj-share-sns type="fb" url="https://kurokawaonsen.stores.jp/items/61e8eaa181dbb51c4d4ad7b7" rel="nofollow" class="p-detail__sns-item-button p-detail__sns-item-button-share">シェアする</a>
    </li>
    <li class="p-detail__sns-item">
      <a ng-non-bindable href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" data-pin-custom="true" class="p-detail__sns-item-button p-detail__sns-item-button-pin" type="button">ピンする</a>
      <script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
    </li>
  </ul>
</aside>


      <div class="item_inquiry"><a class="gtm-item-contact-btn" href="" ng-click="detailCtrl.openInquiryModal(false)">このアイテムについて問い合わせる</a></div>

    </div>
  </div>
</section>

<section ng-controller="SaleItemsController as saleCtrl" ng-init="saleCtrl.getSaleList(6, '61e8eaa181dbb51c4d4ad7b7')">
  <article class="content relevance_items ga_sale_list_in_item_detail" ng-if="saleCtrl.list.length > 0" ng-cloak>
    <h2>セール中のアイテム</h2>
    <ul>
      <li ng-repeat="item in saleCtrl.list">
        <a href="/items/{{ item._id }}" class="ga_sale_in_item_detail">
          <img ng-src="{{ item.image_url }}" alt="{{ item.n }}">
          <dl>
            <dt ng-bind="item.n"></dt>
            <dd class="sale_items"><p ng-bind-html="item.display_dp | price" class="item_price_discount"></p><p class="discount_price_rate s-store_page_font_sans_serif" ng-if="item.discount_rate > 0">{{ item.discount_rate }}%OFF</p></dd>
          </dl>
        </a>
      </li>
    </ul>
  </article>
</section>

  <article class="content relevance_items ga_related_list_in_item_detail">
    <h2>その他のアイテム</h2>
    <ul>
      <li>
  <a href="/items/61fbed91e859261e82f3f00e" class="ga_related_in_item_detail">
    <img src="https://p1-e6eeae93.imageflux.jp/c!/a=2,w=200,h=200/kurokawaonsen/c2f2e8296fbfd80c5cf2.jpg" alt="黒川温泉『旅館の朝食』ギフトボックス" ng-non-bindable>
    <dl>
      <dt ng-non-bindable>黒川温泉『旅館の朝食』ギフトボックス</dt>
      <dd ng-non-bindable>&yen;5,940</dd>
    </dl>
  </a>
</li>
<li>
  <a href="/items/5ea6396a34ef0124f2dadd61" class="ga_related_in_item_detail">
    <img src="https://p1-e6eeae93.imageflux.jp/c!/a=2,w=200,h=200/kurokawaonsen/bc2fcc9ce2523db5ed88.jpg" alt="黒川温泉ご当地ベア（ぬいぐるみ・キーホルダー）セット" ng-non-bindable>
    <dl>
      <dt ng-non-bindable>黒川温泉ご当地ベア（ぬいぐるみ・キーホルダー）セット</dt>
      <dd ng-non-bindable>&yen;4,600</dd>
    </dl>
  </a>
</li>
<li>
  <a href="/items/5ea53baf55fa0344886a07ac" class="ga_related_in_item_detail">
    <img src="https://p1-e6eeae93.imageflux.jp/c!/a=2,w=200,h=200/kurokawaonsen/28db9a3190cf592a72dc.jpg" alt="黒川温泉ご当地ベア  ぬいぐるみ" ng-non-bindable>
    <dl>
      <dt ng-non-bindable>黒川温泉ご当地ベア  ぬいぐるみ</dt>
      <dd ng-non-bindable>&yen;2,800</dd>
    </dl>
  </a>
</li>
<li>
  <a href="/items/5ebe97da72b9115fc4f0b6f8" class="ga_related_in_item_detail">
    <img src="https://p1-e6eeae93.imageflux.jp/c!/a=2,w=200,h=200/kurokawaonsen/722a55ae0ef1a178aa13.jpg" alt="帆山亭 オリジナルタオル" ng-non-bindable>
    <dl>
      <dt ng-non-bindable>帆山亭 オリジナルタオル</dt>
      <dd ng-non-bindable>&yen;250</dd>
    </dl>
  </a>
</li>
<li>
  <a href="/items/61e8f19172c5de154af9cfb6" class="ga_related_in_item_detail">
    <img src="https://p1-e6eeae93.imageflux.jp/c!/a=2,w=200,h=200/kurokawaonsen/85103908a4e57405b1a0.jpg" alt="きよらの郷でうまれた玄米" ng-non-bindable>
    <dl>
      <dt ng-non-bindable>きよらの郷でうまれた玄米</dt>
      <dd ng-non-bindable>&yen;500</dd>
    </dl>
  </a>
</li>
<li>
  <a href="/items/615822d2acbcb040b7f5d96b" class="ga_related_in_item_detail">
    <img src="https://p1-e6eeae93.imageflux.jp/c!/a=2,w=200,h=200/kurokawaonsen/876e82a91b51d8f5360e.jpg" alt="奥黒川の高原地域で育ったくぬぎ”黒川木炭”" ng-non-bindable>
    <dl>
      <dt ng-non-bindable>奥黒川の高原地域で育ったくぬぎ”黒川木炭”</dt>
      <dd ng-non-bindable>&yen;2,640</dd>
    </dl>
  </a>
</li>

    </ul>
  </article>

<div class="reload">
  <a sj-back-to-list-link class="btn btn_list_reload" href="/">一覧に戻る</a>
</div>


              </div>
            </main>
            <footer class="footer">
  <div class="footer_nav_list">
    <ul class="footer_nav_list_item">
      <li class="icon_mail"><p><a href="/inquiry" rel="nofollow">Contact</a></p></li>
      <li class="icon_info js-btn_popup" sj-popup>
        <p><a href="#" rel="nofollow">Information</a></p>
        <div class="btn_popup_inner js-btn_popup_inner">
          <ul class="btn_popup_list">
            <li><a class="" href="/tokushoho" rel="nofollow">特定商取引法に関する表記</a></li>
            <li><a class="" href="/terms" rel="nofollow">利用規約</a></li>
            <li><a class="" href="/privacy_policy" rel="nofollow">プライバシーポリシー</a></li>
          </ul>
        </div>
      </li>
        <li class="icon_sns__footer js-btn_popup" sj-popup>
          <p><a href="#" rel="nofollow">SNS</a></p>
          <div class="sns_popup js-btn_popup_inner">
  <div class="sns_popup_list">
    <a class="share_twitter" sj-share-sns="" ng-non-bindable="" type="tw" tweet-text="kurokawaonsen">ツイートする</a>
    <a class="share_facebook" sj-share-sns="" type="fb">シェアする</a>
  </div>
</div>

        </li>
    </ul>
  </div>
  <small class="footer_logo js-powered_by "><a href="https://stores.jp/ec" target="_blank" class="powered_by">powered by STORES</a></small>
    <ul class="footer_sns_links">
  <li class="footer_sns_links--fb" ng-non-bindable=""><a target="_blank" rel="noopener" href="https://www.facebook.com/kurokawaonsen">https://www.facebook.com/kurokawaonsen</a></li>
  <li class="footer_sns_links--tw" ng-non-bindable=""><a target="_blank" rel="noopener" href="https://twitter.com/dai2sonmin">https://twitter.com/dai2sonmin</a></li>
  <li class="footer_sns_links--ig" ng-non-bindable=""><a target="_blank" rel="noopener" href="https://instagram.com/kurokawaonsen/">https://instagram.com/kurokawaonsen/</a></li>
  
  
  <li class="footer_sns_links--site" ng-non-bindable=""><a target="_blank" rel="noopener" href="http://www.kurokawaonsen.or.jp">http://www.kurokawaonsen.or.jp</a></li>
  </ul>

</footer>

          </div>
        </div>
      </div>

        <script src="/assets/stores/items/vendor-d83429fe80977f7c4fb670d0766259375bd55e55609c6c76a334b9fdf941ff6f.js"></script>
  <script src="/assets/stores/items/application-b56444f719df5b7194a864797e0214b63061484c17d26cdccfd9b42f434e6de4.js"></script>
  <script src="/packs/js/stores/items-f21c0a4bec801f8d8814.js"></script>
  <script src="https://www.google.com/recaptcha/api.js" defer="defer" async="async"></script>
  <script>
//<![CDATA[
      RECAPTCHA_SITEKEY = "6Lf5KmcUAAAAAPOISPdY7KjS8HpugYksAKvtuxtn";

//]]>
</script>



<!-- Google Tagmanager -->
<script>
//<![CDATA[

  dataLayer.push({
    'gaAcount': 'UA-34418151-1',
    'user': 'null',
    'event': 'create',
    'customDomainUrl' : 'https://kurokawaonsen.stores.jp',
    'storesDomainUrl' : 'https://kurokawaonsen.stores.jp'
  });
  dataLayer.push({'event': 'notVirtual'});

//]]>
</script><!-- Google Tagmanager -->

<!-- GAアドオンをオンにしているユーザーのトラッキング処理 -->
  <script>
//<![CDATA[

    dataLayer.push({'event': 'ownerNotVirtual'});

//]]>
</script>


      <!-- Datadog RUM -->
      
    </body>
</html>
