@charset "utf-8";

.w-state {
	max-width: 1280px;
}

/* ------------------------------------------------ */

.kv {
	height: 60px !important;
	margin-bottom: 60px;
}

.part__ttl {
	margin-bottom: 60px;
	font-size: 2.2rem;
	letter-spacing: 0.2em;
}

[lang='en'] .part__ttl {
	letter-spacing: inherit;
}

@media screen and (min-width: 1024px) {
	.kv {
		height: 120px !important;
	}
}

/* ------------------------------------------------ */

.chapter-header__read {
	width: 100%;
	max-width: 700px;
	margin: auto;
}

.chapter-header__ttl-icon-outer {
	display: flex;
	justify-content: center;
	color: rgba(0,0,0,0.35);
}

.chapter-header__ttl-icon {
	display: block;
	width: 36px;
	height: 36px;
	margin: 0 2.5px;
}

/* ------------------------------------------------ */

.section-header {
	margin-bottom: 25px;
}

.section-header__ttl {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	text-align: left;
	font-size: 1.6rem;
}

.section-header__ttl .icon {
	display: block;
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

/* ------------------------------------------------ */

.section-intro__fig {
	margin-bottom: 40px;
}

.section-intro__fig img {
	display: block;
	width: 100%;
}

.section-intro__body {
	
}

.section-intro__ttl {
	font-size: 2.0rem;
}

.section-intro__address {
	
}

.section-intro__small {
	font-size: 1.1rem;
	line-height: 1.8;
}

.section-intro__to-gmap {
	font-size: 1.6rem;
}

.section-intro__to-gmap .icon {
	width: 24px;
	height: 24px;
}

@media screen and (min-width: 768px) {
	
	.section-intro {
		
	}
	
	.section-intro__to-gmap {
		font-size: 2.4rem;
	}
	
	.section-intro__to-gmap .icon {
		width: 36px;
		height: 36px;
	}
	
}

@media screen and (min-width: 1024px) {
	
	.section-intro {
		position: relative;
	}
	
	.section-intro__fig {
		width: 70%;
		max-width: 1000px;
		margin-left: 0;
		margin-right: auto;
		z-index: 1;
	}
	
	.section-intro__body {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: center;
		right: 0;
		bottom: 0;
		top: 0;
		width: 35%;
		max-width: 500px;
		z-index: 2;
	}
	
	.section-intro:nth-of-type(even) .section-intro__fig {
		margin-left: auto;
		margin-right: 0;
	}
	
	.section-intro:nth-of-type(even) .section-intro__body {
		right: auto;
		left: 0;
	}
	
	
	
	.section-intro__body > * {
		margin-bottom: 40px;
	}
	
	.section-intro__body > *:last-child {
		margin-bottom: 0;
	}
	
	.section-intro__ttl {
		font-size: 2.6rem;
	}
	
	.section-intro__small {
		font-size: 1.3rem;
	}
}

/* ------------------------------------------------ */

.route-container {
	max-width: 900px;
	margin: auto;
}

.route-list {
	display: block;
	list-style: none;
	padding: 0;
	font-size: 1.1rem;
}

.route-list__item {
	
}

.route-list__item-anchor {
	display: inline-flex;
	align-items: center;
}

.route-list__item .icon {
	display: block;
	width: 12px;
	height: 12px;
	margin-right: 5px;
	line-height: 0;
}

.route-fig {
	margin-bottom: 10px;
}

.route-fig:last-child {
	margin-bottom: 0;
}

.route-fig img {
	display: block;
	width: 100%;
	height: auto;
}

.route-detail-txt {
	font-size: 1.1rem;
}


@media screen and (min-width: 1024px) {
	.route-container .section-header {
		width: 100%
	}
	
	.route-fig {
		margin-bottom: 20px;
	}
	
	.route-list {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		font-size: 1.3rem;
	}
	
	.route-list__item {
		margin-right: 20px;
	}
	
	.route-list__item:last-child {
		margin-right: 0;
	}
	
	.route-list__item .icon {
		width: 18px;
		height: 18px;
	}
	
	.route-detail-txt {
		width: 100%;
		font-size: 1.3rem;
	}
}


/* ------------------------------------------------ */

.overflow-container {
	padding: 0 0 0 25px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	        overflow-scrolling: touch;
}

.overflow-container-inner {
	padding: 0 25px 10px 0;
	width: 530px;
	height: auto;
}

@media screen and (min-width: 530px) {
	
	.overflow-container {
		padding: 0;
	}
	
	.overflow-container-inner {
		width: 100%;
		height: auto;
		padding: 0 25px;
		box-sizing: border-box;
	}
	
}

@media screen and (min-width: 1024px) {
	.overflow-container-inner {
		padding: 0;
	}
	
}