@charset "utf-8";


/* ------------------------------------------- */
/* Title logo */

.kv-logo {
	position: relative;
	z-index: 5;
	margin: 0;
	text-align: center;
	color: #fff;
	opacity: 0;
	filter: blur(16px);
	transition: 3s cubic-bezier(.17,.84,.44,1) 0.5s;
	transition-property: opacity, filter;
}

.kv-logo > *:last-child {
	margin-bottom: 0;
}

.kv-logo__fig {
	display: block;
	margin: 0 auto 30px;
}

.kv-logo__fig svg {
	display: block;
	width: 100%;
	height: auto;
}

.kv-logo__fig--kurokawa {
	width: 45px;
	height: auto;
}

.msie .kv-logo__fig--kurokawa {
	height: 20px;
}

.kv-logo__fig--okunoyu {
	width: 140px;
}

.msie .kv-logo__fig--kurokawa {
	
}

.msie .kv-logo__fig--okunoyu {
	
}

.kv-logo__txt {
	font-size: 1.0rem;
	letter-spacing: 0.1em;
}

.onloadcomplete .kv-logo {
	opacity: 1;
	filter: blur(0px);
}


@media screen and (min-width: 1024px) {
	
	.kv {
		margin-bottom: 180px;
	}
	
	.kv-logo__fig--okunoyu {
		width: 220px;
	}
	
	.kv-logo__fig--kurokawa {
		width: 50px;
	}
}

/* Image, Videos */

.img-reel {
	position: absolute;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	margin: auto;
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	overflow: hidden;
	background-color: #000;
}

.img-reel__item {
	position: absolute;
	margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-position: 0 center;
	
	animation-duration: 7s;
	animation-delay: 0s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	opacity: 0;
	z-index: 1;
}

.img-reel__item-inner {
	height: 100%;
	width: 100%;
}

.img-reel__item-bg.img {
	display: none;
}

.img-reel__item-bg.video {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.img-reel__item.current {
	z-index: 2;
	animation-name: showImage;
}

.img-reel__item.prev {
	z-index: 2;
	animation-name: hideImage;
}

.img-reel__item-inner {
	position: absolute;
	left: -50px;
	top: 0;
	width: calc(100% + 100px);
	height: 100%;
	
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	
	transform: translate3d(0, 0, 0);
	transform-origin: center center;
	
	animation: inherit;
	animation-timing-function: linear;
}

.current .img-reel__item-inner {
	animation-name: showTranslateBG;
}

.prev .img-reel__item-inner {
	animation-name: hideTranslateBG;
}

@keyframes showImage {
	0% {
		opacity: 0;
	}
	
	50% {
		opacity: 1;
	}
	
	100% {
		opacity: 1;
	}
}

@keyframes hideImage {
	0% {
		opacity: 1;
	}
	
	50% {
		opacity: 0;
	}
	
	100% {
		opacity: 0;
	}
}

@keyframes showTranslateBG {
	0% {
		transform: translate3d(50px, 0, 0);
	}
	
	100% {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes hideTranslateBG {
	0% {
		transform: translate3d(0, 0, 0);
	}
	
	100% {
		transform: translate3d(-50px, 0, 0);
	}
}
