@charset "utf-8";

.w-state {
	max-width: 800px;
}

.gf {
	min-height: initial;
}

.gf-lang,
.gf-sns,
.gf-info,
.gf-link {
	display: none;
}

/* ------------------------------------------------ */

.kv {
	height: 0 !important;
	margin-bottom: 160px;
}

.part__ttl {
	margin-bottom: 60px;
	font-size: 2.2rem;
	letter-spacing: 0;
}

.section-body {
	padding-bottom: 100px;
}

@media screen and (min-width: 1024px) {
	.kv {
		margin-bottom: 200px;
	}
}

/* ------------------------------------------------ */

.contact-form-error__intro-message {
	background-color: rgba(255, 0, 0, 0.1);
	margin-bottom: 30px;
	padding: 10px;
	box-sizing: border-box;
}

.contact-form-error {
	display: none;
}

.user-notify-wrap {
	margin-bottom: 2em;
}


/* -------------------------------------------------------------------------------- */

.mailform {
	
}

.mailform-footer {
	padding: 0 0 30px;
	box-sizing: border-box;
}

.mailform-footer p {
	font-size: 1.2rem;
}

#fs_message {
	min-height: 15em;
}

@media screen and (min-width: 1024px) {
	.mailform-footer p {
		font-size: 1.3rem;
	}
}

/* -------------------------------------------------------------------------------- */

@media screen and (min-width: 1024px) {
	.input-lbl {
		padding: 5px;
		width: 25%;
		font-size: 80%;
		color: rgba(0,0,0,0.5);
	}
	
}

/* -------------------------------------------------------------------------------- */

.terms-container {
	position: relative;
	overflow: auto;
	height: 300px;
	overflow-y: scroll;
	margin-bottom: 30px;
	padding: 20px;
	font-size: 90%;
	box-sizing: border-box;
	border: 1px solid rgba(0,0,0,0.1);
	-webkit-overflow-scrolling: touch;
	        overflow-scrolling: touch;
}

.terms-container .section {
	margin-bottom: 20px;
	line-height: 1.7;
}

.terms-container .section-body__ttl {
	font-size: inherit;
	font-weight: bolder;
	margin-bottom: 20px;
	text-align: left;
}

.article-loader--wait:before {
	position: absolute;
	display: block;
	left: 20px;
	top: 70px;
	width: 100%;
	height: 100%;
	background: url(../img/global/loading_article.png) no-repeat left top;
	background-size: contain;
	animation: articleLoader 0.3s alternate infinite;
	content: "";
}

.article-loader--onload:before {
	
}

@keyframes articleLoader {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.3;
	}
}

@media screen and (min-width: 1024px) {
	.article-loader--wait:before {
		left: 30px;
	}
	.terms-container {
		padding: 30px;
	}
	
}
